<footer>
  <nav>
      <ul>
          <li class="menu-item">teste de app EJS</li>
          <li class="menu-item">Artigo EJS </li>
          <li class="menu-item">Autor: wander andrade</li>
      </ul>
  </nav>
</footer>
</body>

</html>
